@page
@model LibraryBookingSystem.Pages.AuthorsModel
@{
    ViewData["Authors"] = "Manage Authors";
}

@if (Model.EditAuthor != null)
{
    <h3>Edit Author</h3>
    <form method="post" asp-page-handler="EditAuthor" id="editAuthorForm" class="justify-content-center align-items-center gap-3">
        <input hidden asp-for="EditAuthor.AuthorId" />
        <div class="form-group">
            <label asp-for="EditAuthor.FirstName">First Name</label>
            <input class="form-control" asp-for="EditAuthor.FirstName" />
        </div>
        <div class="form-group">
            <label asp-for="EditAuthor.LastName">Last Name</label>
            <input class="form-control" asp-for="EditAuthor.LastName" />
        </div>
        <button type="submit" class="btn btn-primary mb-3">Edit Author</button>
    </form>
}

<h2>Authors</h2>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>
                <a asp-page="/Authors" asp-route-SortColumn="FirstName" asp-route-SortDirection="@(Model.SortColumn == "FirstName" && Model.SortDirection == "ASC" ? "DESC" : "ASC")">
                    First Name
                </a>
            </th>
            <th>
                <a asp-page="/Authors" asp-route-SortColumn="LastName" asp-route-SortDirection="@(Model.SortColumn == "LastName" && Model.SortDirection == "ASC" ? "DESC" : "ASC")">
                    Last Name
                </a>
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model.Authors.Records)
        {
            <tr>
                <td>@author.AuthorId</td>
                <td>@author.FirstName</td>
                <td>@author.LastName</td>
                <td>
                    <form method="post" asp-page-handler="Update" asp-route-id="@author.AuthorId" style="display:inline">
                        <button type="submit" class="btn btn-secondary">Edit</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @if (Model.Authors.HasPreviousPage)
    {
        <a asp-page="/Authors" asp-route-PageIndex="@(Model.Authors.PageIndex - 1)" class="btn btn-secondary">Previous</a>
    }
    @if (Model.Authors.HasNextPage)
    {
        <a asp-page="/Authors" asp-route-PageIndex="@(Model.Authors.PageIndex + 1)" class="btn btn-secondary">Next</a>
    }
</div>