@page
@model LibraryBookingSystem.Pages.AuthorsModel
@{
    ViewData["Authors"] = "Manage Authors";
}

<h1>Library Authors</h1>

<form method="get" class="mb-4">
    <div class="row">
        <div class="col-3">
            <input type="text" name="FirstName" value="@Model.FirstName" class="form-control" placeholder="Search by first name" />
        </div>
        <div class="col-3">
            <input type="text" name="LastName" value="@Model.LastName" class="form-control" placeholder="Search by last name" />
        </div>       
        <div class="col-2">
            <select name="SortColumn" class="form-control">
                <option value="">Select order by</option>
                <option value="FirstName" class="@(Model.SortColumn == "FirstName" ? "selected" : "")">First Name</option>
                <option value="LastName" class="@(Model.SortColumn == "LastName" ? "selected" : "")">Last Name</option>                
            </select>
        </div>
        <div class="col-2">
            <select name="SortDirection" class="form-control">
                <option value="">Select order direction</option>
                <option value="asc" class="@(Model.SortDirection == "asc" ? "selected" : "")">Ascending</option>
                <option value="desc" class="@(Model.SortDirection == "desc" ? "selected" : "")">Descending</option>
            </select>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/Authors" class="btn btn-secondary">Reset</a>
        </div>

    </div>
</form>

@if (Model.EditAuthor != null)
{
    <h3>Edit Author</h3>
    <form method="post" asp-page-handler="EditAuthor" id="editAuthorForm" class="justify-content-center align-items-center gap-3">
        <input hidden asp-for="EditAuthor.AuthorId" />
        <div class="form-group">
            <label asp-for="EditAuthor.FirstName">First Name</label>
            <input class="form-control" asp-for="EditAuthor.FirstName" />
        </div>
        <div class="form-group">
            <label asp-for="EditAuthor.LastName">Last Name</label>
            <input class="form-control" asp-for="EditAuthor.LastName" />
        </div>
        <button type="submit" class="btn btn-primary mb-3">Edit Author</button>
    </form>
}

<h2>Authors</h2>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>
                <a asp-page="/Authors" asp-route-SortColumn="FirstName" asp-route-SortDirection="@(Model.SortColumn == "FirstName" && Model.SortDirection == "ASC" ? "DESC" : "ASC")">
                    First Name
                </a>
            </th>
            <th>
                <a asp-page="/Authors" asp-route-SortColumn="LastName" asp-route-SortDirection="@(Model.SortColumn == "LastName" && Model.SortDirection == "ASC" ? "DESC" : "ASC")">
                    Last Name
                </a>
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model.Authors.Records)
        {
            <tr>
                <td>@author.AuthorId</td>
                <td>@author.FirstName</td>
                <td>@author.LastName</td>
                <td>
                    <form method="post" asp-page-handler="Update" asp-route-id="@author.AuthorId" style="display:inline">
                        <button type="submit" class="btn btn-secondary">Edit</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @if (Model.Authors.HasPreviousPage)
    {
        <a asp-page="/Authors" asp-route-PageIndex="@(Model.Authors.PageIndex - 1)" class="btn btn-secondary">Previous</a>
    }
    @if (Model.Authors.HasNextPage)
    {
        <a asp-page="/Authors" asp-route-PageIndex="@(Model.Authors.PageIndex + 1)" class="btn btn-secondary">Next</a>
    }
</div>