@page
@model BooksModel
@{
    ViewData["Books"] = "Library Books";
}

<h1>Library Books</h1>

<h2>All Books</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="/Books" asp-route-SortColumn="Title" asp-route-SortDirection="@(Model.SortColumn == "Title" && Model.SortDirection == "ASC" ? "DESC" : "ASC")">
                    Title
                </a>
            </th>
            <th>
                <a asp-page="/Books" asp-route-SortColumn="Genre" asp-route-SortDirection="@(Model.SortColumn == "Genre" && Model.SortDirection == "ASC" ? "DESC" : "ASC")">
                    Genre
                </a>
            </th>
            <th>
                <a asp-page="/Books" asp-route-SortColumn="PublicationDate" asp-route-SortDirection="@(Model.SortColumn == "PublicationDate" && Model.SortDirection == "ASC" ? "DESC" : "ASC")">
                    Publication Date
                </a>
            </th>
            <th>Authors</th>
            <th>
                <a asp-page="/Books" asp-route-SortColumn="Publisher" asp-route-SortDirection="@(Model.SortColumn == "Publisher" && Model.SortDirection == "ASC" ? "DESC" : "ASC")">
                    Publisher
                </a>
            </th>
            <th>Pages</th>
            <th>Language</th>
            <th>Summary</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books.Records)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Genre.GenreName</td>
                <td>@book.PublicationDate</td>
                <td>@string.Join(", ", book.Authors.Select(a=> a.FirstName + " " + a.LastName))</td>
                <td>@book.Publisher.Name</td>
                <td>@book.Pages</td>
                <td>@book.Language</td>
                <td>@book.Summary</td>
                <td>@book.Rating</td>
                <td>
                    <a asp-action="EditBook" asp-route-id="@book.BookId">Edit</a> |
                    <a asp-action="DeleteBook" asp-route-id="@book.BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @if (Model.Books.HasPreviousPage)
    {
        <a asp-page="/Books" asp-route-PageIndex="@(Model.Books.PageIndex - 1)" class="btn btn-secondary">Previous</a>
    }
    @if (Model.Books.HasNextPage)
    {
        <a asp-page="/Books" asp-route-PageIndex="@(Model.Books.PageIndex + 1)" class="btn btn-secondary">Next</a>
    }
</div>
