@page
@model BooksModel
@{
    ViewData["Books"] = "Library Books";
    var userRole = Model.HttpContext.Session.GetString("UserRole");
}

<h1>Library Books</h1>

@if (userRole == "Administrator" || userRole == "Librarian")
{
    <a asp-page="AddBook" class="btn btn-primary mt-3 mb-3">Add new book to collection</a>

}

<form method="get" class="mb-4">
    @Html.AntiForgeryToken();
    <div class="row">
        <div class="col-2">
            <input type="text" name="Title" value="@Model.Title" class="form-control" placeholder="Search by title" />
        </div>
        <div class="col-2">
            <select name="Genre" class="form-control">
                <option value="">All Genres</option>
                @foreach (var genre in Model.Genres)
                {
                    <option value="@genre.GenreName">@genre.GenreName</option>
                }
            </select>
        </div>
        <div class="col-2">
            <input type="text" name="Author" value="@Model.Author" class="form-control" placeholder="Search by author" />
        </div>
        <div class="col-2">
            <select name="SortColumn" class="form-control">
                <option value="">Select order by</option>
                <option value="Title" class="@(Model.SortColumn == "Title" ? "selected" : "")">Title</option>
                <option value="Genre" class="@(Model.SortColumn == "Genre" ? "selected" : "")">Genre</option>
                <option value="Rating" class="@(Model.SortColumn == "Rating" ? "selected" : "")">Rating</option>
            </select>
        </div>
        <div class="col-2">
            <select name="SortDirection" class="form-control">
                <option value="">Select order direction</option>
                <option value="asc" class="@(Model.SortDirection == "asc" ? "selected" : "")">Ascending</option>
                <option value="desc" class="@(Model.SortDirection == "desc" ? "selected" : "")">Descending</option>
            </select>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Search</button>
            <a href="/Books" class="btn btn-secondary">Reset</a>
        </div>

    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="/Books" asp-route-SortColumn="Title" asp-route-SortDirection="@(Model.SortColumn == "Title" && Model.SortDirection == "ASC" ? "DESC" : "ASC")">
                    Title
                </a>
            </th>
            <th>
                <a asp-page="/Books" asp-route-SortColumn="Genre" asp-route-SortDirection="@(Model.SortColumn == "Genre" && Model.SortDirection == "ASC" ? "DESC" : "ASC")">
                    Genre
                </a>
            </th>
            <th>
                <a asp-page="/Books" asp-route-SortColumn="PublicationDate" asp-route-SortDirection="@(Model.SortColumn == "PublicationDate" && Model.SortDirection == "ASC" ? "DESC" : "ASC")">
                    Publication Date
                </a>
            </th>
            <th>Authors</th>
            <th>
                <a asp-page="/Books" asp-route-SortColumn="Publisher" asp-route-SortDirection="@(Model.SortColumn == "Publisher" && Model.SortDirection == "ASC" ? "DESC" : "ASC")">
                    Publisher
                </a>
            </th>
            <th>Pages</th>
            <th>Language</th>            
            <th>Rating</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books.Records)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Genre.GenreName</td>
                <td>@book.PublicationDate</td>
                <td>@string.Join(", ", book.Authors.Select(a => a.FirstName + " " + a.LastName))</td>
                <td>@book.Publisher.Name</td>
                <td>@book.Pages</td>
                <td>@book.Language</td>                
                <td>@book.Rating</td>
                <td>
                    <div class="btn-group" role="group">                       
                        <a class="btn btn-outline-primary" asp-route-id="@book.BookId" asp-page="/ViewBook">View</a>                        
                        @if(@userRole == "Librarian" || @userRole == "Administrator")
                        {
                            <a class="btn btn-outline-primary" asp-page="EditBook" asp-route-id="@book.BookId">Edit</a>    
                        }

                        @if (userRole == "Administrator") 
                        {
                            <a class="btn btn-outline-primary" asp-page="DeleteBook" asp-route-id="@book.BookId">Delete</a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @if (Model.Books.HasPreviousPage)
    {
        <a asp-page="/Books" asp-route-PageIndex="@(Model.Books.PageIndex - 1)" class="btn btn-secondary">Previous</a>
    }
    @if (Model.Books.HasNextPage)
    {
        <a asp-page="/Books" asp-route-PageIndex="@(Model.Books.PageIndex + 1)" class="btn btn-secondary">Next</a>
    }
</div>
