@page
@model LibraryBookingSystem.Pages.ChangePasswordModel
@{
}

<form method="post" asp-page-handler="ChangeOldPassword">
    <div class="form-group mt-3">
        <label class="form-label" asp-for="@Model.CurrentPassword">Current Password</label>
        <input type="password" asp-for="@Model.CurrentPassword" value="@Model.CurrentPassword" readonly class="form-control" />
    </div>
    <div class="form-group mt-3">
        <label class="form-label" asp-for="@Model.NewPassword">New Password</label>
        <input type="password" asp-for="@Model.NewPassword" class="form-control" />
    </div>
    <div class="form-group mt-3">
        <label class="form-label" asp-for="@Model.ConfirmPassword">Confirm Password</label>
        <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" />
    </div>

    @if (Model.ValidationErrors.Any())
    {
        <div class="alert alert-danger mt-3">
            <ul>
                @foreach (var error in Model.ValidationErrors)
                {
                    <li>@error</li>
                }
            </ul>
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.StatusMessage))
    {
        <div class="alert alert-success mt-3">@Model.StatusMessage</div>
    }
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-success">Change Password</button>
        <a class="btn btn-secondary" asp-page="/Profile">Back</a>
    </div>
</form>