@page
@model UsersModel
@{
    ViewData["Users"] = "Users";
    var userRole = Model.HttpContext.Session.GetString("UserRole");

}

<h1>@ViewData["Users"]</h1>

@if (userRole == "Administrator")
{
    <a class="btn btn-info mt-3 mb-3" asp-page="/AddUser">Add new member</a>
}

@if (Model.Users != null && Model.Users.Any())
{
    <table class="table table-responsive table-light">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.Username</td>
                    <td>@user.Email</td>
                    <td>@user.Role.RoleName</td>
                    <td>
                        <a asp-page="/ViewUser" class="btn btn-info" asp-route-id="@user.UserId">View</a>
                        <a asp-page="/EditUser" class="btn btn-warning" asp-route-id="@user.UserId">Edit</a>
                        @if(userRole == "Administrator"){                           
                            <a asp-page="/DeleteUser" class="btn btn-danger" asp-route-id="@user.UserId">Delete</a>
                        }                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No users found.</p>
}